<script>plyr.setup('video');</script>
<footer>
    <div id='f-item'><span id='f-online'>当前在线人数: {{ online }}</span><span id='f-time'><script>get_runtime();</script></span></div>
    <p>Copyright ©2018 Cisor</p>
	<!--<ul class='index'>
		<li><a href='https://github.com/cecilpro' target='blank'>GitHub</a></li>
		<li><a href='https://www.cnblogs.com/dearvee' target='blank'>博客园</a></li>
		<li><a href='http://blog.csdn.net/dearvee' target='blank'>CSDN</a></li>
	</ul>
	<ul class='index'>
		<li><a href='javascript:void(0);' onclick='getDonate();'>Donate</a></li>
		<li><a href='mailto:admin@cecil.pro'>Email</a></li>
	<ul>-->
</footer>
