.log{
    list-style: none;
}
.log>li{
    padding: 5px;
    border-radius: 2px;
    color: #000;
    position: relative;
}
.log>li:nth-child(2n+1){
    background: #f8f8f8;
}
.log-w, .log-i{
    margin-left: 20px;
}
.log-t{
    font-size: 0.9em;
}
.log-i{
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 10px;
}
